<h1>Your Current Tasks for <%= @list.name() %></h1>

<% if @tasks.any?() %>
  <h3>Here are your tasks:</h3>

  <ul>
    <% @tasks.each() do |task| %>
      <li><%= task.description() %></li>
    <% end %>
  </ul>

<% else %>

    <p>There are no tasks yet!</p>

<% end %>
